%html
  %head
    %title Alexandre Cavedon Personal Website
    %meta{:name => "keywords" :content => "Curitiba, Programmer, Django, Ruby on Rails, PHP, Python, Fantasdic, BareFTP, Wordpress plugins, pAdmin, Software, Web"}
    = stylesheet_link_tag    "application"
    = stylesheet_link_tag    "uniform.default.css" 
    = javascript_include_tag "application"
    = javascript_include_tag "jquery.uniform.js" 
    = csrf_meta_tags
  %body
    = yield
